body {
    background-color: #191225;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header>nav {
    background-color: #120c1d;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

header>nav>ul {
    display: flex;
    color: white;
    justify-content: space-between;
    list-style: none;
    margin: 0 1rem 0 4rem;
    padding: 0;
    flex: 3;
    max-width: 50%;

}

header>nav>ul>li {
    margin: 0 1rem;

}

header>nav>ul>li>a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

header>nav>a {
    flex: 1;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    align-self: center;
    text-decoration: none;
}

body>main {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
